asgiref==3.5.2
backports.zoneinfo==0.2.1
borb==2.0.32
certifi==2022.6.15
charset-normalizer==2.1.1
Django==4.1
djangorestframework==3.13.1
drf-extra-fields==3.4.0
flake8==5.0.4
flake8-import-order==0.18.1
fonttools==4.36.0
idna==3.3
isort==5.10.1
mccabe==0.7.0
Pillow==9.2.0
psycopg2==2.9.3
pycodestyle==2.9.1
pyflakes==2.5.0
python-barcode==0.14.0
pytz==2022.2.1
qrcode==7.3.1
requests==2.28.1
sqlparse==0.4.2
urllib3==1.26.11
